body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

/* Секция input-ов */
.form input {
    padding: 10px;
    font-size: 1rem;
}

/* Кнопки в отдельной строке */
.form-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form-buttons button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}

.list li button {
    background-color: crimson;
    color: #ffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}